/* - In `style.css`, apply the following styles:
    - Nav elements should be spaced evenly across the top of the page (hint: use flexbox! https://css-tricks.com/snippets/css/a-guide-to-flexbox/)
    - Nav elements should have black text
    - Nav elements should have Helvetica font
    - Nav elements should not have any underline (hint: use the `text-decoration` property) */
    
    .navbar {
        display: flex;
        justify-content: space-evenly;
    }

    .navbar-link{
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: black;
    }